body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c c";
}

.nametag {
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr, 1fr;
    grid-area: 'b';
    width: 300px;
    height: 175px;
    border: 15px solid teal;
    border-radius: 10px;
    align-items: center;
}

#counter {
    display: grid;
    grid-area: 'c';
    align-items: center;
}

.hello {
    display: grid;
    background-color: yellow;
    grid-row: 1 / 2;
    font-family: monospace;
    font-size: 2.5rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.intro {
    display: grid;
    background-color: yellow;
    grid-row: 2 / 3;
    font-family: monospace;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.name {
    display: grid;
    grid-row: 3 / 5;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 2rem;
}

.pronouns {
    display: grid;
    background-color: yellow;
    grid-row: 5 / 6;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: rgb(245, 239, 227);
}

.user-edit {
    display: grid;
    grid-area: 'a';
    align-items: center;
}

.button-style {
    background-color: wheat;
    text-transform: uppercase;
    color: purple;
    border-radius: 5px;
}

.green {
    background-color: green;
    border-radius: 5px;
    text-transform: uppercase;
}

.blue {
    background-color: blue;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}

